@using System.Xml;

@{
    var objAuction = ViewBag.Auction;
    if (objAuction == null)
    {
        <meta http-equiv='refresh' content='0; URL=../Auction'>
    }
    else
    {
        ViewBag.Title = "Auction";
        Layout = "~/Views/Shared/_Layout.cshtml";

        <a style="color:black; text-decoration:none" href="../Auction"><input type="Submit" value="Back to list"></a>

        <h1>Auction</h1>
        <h3>Name: @objAuction.productName</h3>
        <h3>Description: @objAuction.productDescription</h3>
        <h3>End Date: @objAuction.biddingEndDate</h3>

        <form method="post">
            Name: <input type="text" id="name" name="name"><br>
            Price: <input type="text" id="price" name="price"><br>
            <input type="submit" value="Bid" class="submit" />
        </form>

        <asp:Label ID="errMsg" Text="" runat="server"></asp:Label>

        if (IsPost)
        {
            string locationPath = "C:/BacchusBids/" + objAuction.productID + ".xml";
            string name = Request.Form["name"];
            string price = Request.Form["price"];
            DateTime bidTime = DateTime.UtcNow;

            //Kontrollib, et oksjoni aeg ei oleks lõppenud
            int value = DateTime.Compare(bidTime, objAuction.biddingEndDate);
            if (value > 0)
            {
                Response.Write("<script>alert('Bidding for this auction has ended');</script>");
            }
            else
            {
                //Kontrollib, et pakkumise hind oleks õiges formaadis
                decimal priceDecimal;
                bool validPrice = decimal.TryParse(price, out priceDecimal);
                if (validPrice == true)
                {
                    //Kui antud oksjoni IDle pole .xml faili siis teeb selle
                    if (!File.Exists(locationPath))
                    {
                        Directory.CreateDirectory("C:/BacchusBids/");

                        XmlDocument doc = new XmlDocument();
                        XmlElement root = doc.CreateElement("Bids");

                        doc.AppendChild(root);


                        doc.Save(locationPath);
                    }
                    //Kirjutab pakkuja nime, hinna ja pakkumise aja xmli
                    XmlDocument xd = new XmlDocument();
                    xd.Load(locationPath);
                    XmlNode n1 = xd.SelectSingleNode("//Bids");
                    XmlDocument xd2 = new XmlDocument();
                    xd2.LoadXml("<Bid><Name>" + Request.Form["name"] + "</Name><Price>" + Request.Form["price"] + "</Price><BidTime>" +
                        bidTime + "</BidTime></Bid>");
                    XmlNode n = xd.ImportNode(xd2.FirstChild, true);
                    n1.AppendChild(n);
                    xd.Save(locationPath);
                }
                else
                {
                    Response.Write("<script>alert('Invalid price format. Example: 45.54');</script>");
                }
            }



        }





    }
}





